
CovidProject/CovidProject.xcodeproj/project.xcworkspace/xcuserdata/donnelldebnam.xcuserdatad/UserInterfaceState.xcuserstate
CovidProject/CovidProject.xcodeproj/project.xcworkspace/xcuserdata/donnelldebnam.xcuserdatad/UserInterfaceState.xcuserstate
